In [2]:
import pandas as pd
import os
s = os.path.sep
s
#df = pd.read_csv('c:' + s + 'Users' + s + 'data_cleaned.csv')

'\\'

In [6]:
 df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [7]:
x = df.drop('Survived', axis = 1)
y = df['Survived']

In [3]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 3, stratify = y)

In [10]:
x_test.head()

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
650,29.699118,7.8958,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
784,25.000000,7.0500,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
194,44.000000,27.7208,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
195,58.000000,146.5208,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
758,34.000000,8.0500,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [11]:
y_test.value_counts()/len(y_test)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [29]:
y_train.value_counts()/len(y_train)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [12]:
x_train.shape

(668, 24)

In [13]:
x_test.shape

(223, 24)

In [14]:
y_train.shape

(668,)

In [15]:
y_test.shape

(223,)

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dc = DecisionTreeClassifier()

In [18]:
dc.fit(x_train, y_train)

DecisionTreeClassifier()

In [19]:
dc.score(x_train, y_train)

0.9805389221556886

In [20]:
dc.predict(x_train)

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0], dtype=int64)

In [21]:
dc.score(x_test, y_test)

0.7982062780269058

In [22]:
y_train.head()

388    0
213    0
266    0
592    0
490    0
Name: Survived, dtype: int64

In [23]:
y_test.head()

650    0
784    0
194    1
195    1
758    0
Name: Survived, dtype: int64

In [24]:
#cart algorithm "classification and regression algorithm"

In [25]:
import math
print(math.log(2, 10))

0.30102999566398114

In [26]:
print(math.log(0.5, 2))

-1.0

# DIFFERENT FORM OF DATAFRAME USAGE

In [27]:
td = [
    ['Green', 3, 'Mango'],
    ['Yellow', 3, 'Mango'],
    ['Red', 1, 'Grape'],
    ["Red", 1, 'Grape'],
    ['Yellow', 1, 'Lemon'],
]

In [28]:
import pandas as pd
columns = ['COLOR', 'DIAMETER', 'LABEL']
c1 = ['Green', 'Yellow', 'Red', 'Red', 'Yellow']
c2 = [3, 3, 1, 1, 1]
c3 = ['Mango', 'Mango', 'Grape', 'Grape', 'Lemon']

l1 = pd.Series(l)
dd = pd.DataFrame({'COLOR' : c1, 'DIAMETER' : c2, 'LABEL' : c3}, index = [0, 1, 2, 3, 4])

NameError: name 'l' is not defined

In [ ]:
dd

In [ ]:
sg = pd.DataFrame(list(zip(c1, c2, c3)), columns = columns)#####
sg

In [ ]:
sg.sort_values(['COLOR'], inplace = True)##########

In [ ]:
sg.sort_values(["DIAMETER"], inplace = True)
sg

In [ ]:
pd.DataFrame([{'COLOR' : c1, 'DIAMETER' : c2, 'LABEL' : c3}])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
td1 = pd.Series(td)
td1

In [ ]:
pd.DataFrame(td1)

In [ ]:
import math
print(math.log(0.64, 2))

In [ ]:
print(math.log(5/14, 2))

In [4]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'