In [1]:
import pandas as pd
import os
s = os.path.sep
df = pd.read_csv('c:' + s + 'Users' + s + 'student_evaluation.csv')

In [2]:
df.head()

,instr,class,nb.repeat,attendance,difficulty,Q1,Q2,Q3,Q4,Q5,...,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28
0,1,2,1,0,4,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,1,2,1,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
2,1,2,1,2,4,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
3,1,2,1,1,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,1,2,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [3]:
df.shape

(5820, 33)

In [6]:
from  sklearn.cluster import KMeans

In [22]:
kmeans = KMeans(n_clusters = 2)

In [23]:
kmeans

KMeans(n_clusters=2)

In [9]:
kmeans.fit(df)

KMeans(n_clusters=2)

In [10]:
kmeans.inertia_

231353.80820006167

In [11]:
kmeans.score(df)

-231353.80820006167

In [20]:
pred = kmeans.predict(df)

In [21]:
pred

array([1, 1, 0, ..., 0, 1, 1])

In [19]:
pd.Series(pred).value_counts()

1    3148
0    2672
dtype: int64

In [24]:
sse = []
kmeans = KMeans()

In [33]:
for i in range(1, 20):
    kmeans = KMeans(n_clusters = i)
    kmeans.fit(df)
    sse.append(kmeans.inertia_)
print(sse)

[KMeans(n_clusters=1), KMeans(n_clusters=2), KMeans(n_clusters=3), KMeans(n_clusters=4), KMeans(n_clusters=5), KMeans(n_clusters=6), KMeans(n_clusters=7), KMeans(), KMeans(n_clusters=9), KMeans(n_clusters=10), KMeans(n_clusters=11), KMeans(n_clusters=12), KMeans(n_clusters=13), KMeans(n_clusters=14), KMeans(n_clusters=15), KMeans(n_clusters=16), KMeans(n_clusters=17), KMeans(n_clusters=18), KMeans(n_clusters=19), KMeans(n_clusters=1), KMeans(n_clusters=2), KMeans(n_clusters=3), KMeans(n_clusters=4), KMeans(n_clusters=5), KMeans(n_clusters=6), KMeans(n_clusters=7), KMeans(), KMeans(n_clusters=9), KMeans(n_clusters=10), KMeans(n_clusters=11), KMeans(n_clusters=12), KMeans(n_clusters=13), KMeans(n_clusters=14), KMeans(n_clusters=15), KMeans(n_clusters=16), KMeans(n_clusters=17), KMeans(n_clusters=18), KMeans(n_clusters=19), 373025.6728522329, 231353.7586857736, 180375.83794568063, 152888.2685573428, 133015.58969638826, 119620.31935091177, 112439.76073128577, 105895.10854087237, 101323.1949299056, 97675.13790776602, 93974.62153720536, 91462.1072396087, 89260.69188546753, 87340.63790445689, 85922.82306883326, 84491.5339227004, 83338.29618109002, 82233.4456902218, 80670.54076249732, 373025.6728522329, 231353.8082000617, 180375.86619951198, 152888.24607263983, 133015.9990519538, 119620.25246354267, 112340.71631480505, 105896.30276500407, 101323.28310400456, 97739.29472141391, 94116.46871537034, 91460.63159129285, 89267.82678464659, 87312.80702250285, 85954.10695050616, 84691.60918849937, 83479.47670374335, 81720.25384548184, 80806.98643478563, 373025.6728522329, 231353.80155147723, 180375.92692994213, 152888.24607263983, 133015.68349185184, 119620.25246354267, 112440.57495001858, 105894.51500925324, 101318.33254276431, 97529.02372805729, 95272.58076042483, 91530.5538741064, 89830.21983694892, 87797.27378789001, 86109.42475513784, 84911.11328850088, 83586.50089311987, 82073.5400171241, 80716.03932614283, 373025.6728522329, 231353.76351703203, 180375.76659547896, 152888.32957958672, 133015.68349185184, 119620.31935091177, 112340.83695662026, 105894.38342780077, 101323.61477659257, 97699.31132677505, 95082.57807097385, 91517.22548470847, 89509.53890650356, 87490.1099125834, 86284.8531895889, 85071.83622504205, 83241.73317410174, 82035.54348415374, 80823.41167213797]

In [34]:
print(len(sse))
#fr = pd.DataFrame({'CLUSTERS' : range(1, 20), 'SSE' : sse})
#fr.head()

114