In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Df').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [4]:
df_pyspark

DataFrame[Name: string, Departments: string, salary: int]

In [5]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [7]:
df_pyspark.groupBy('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [10]:
df_pyspark.groupBy('departments').max().show()

+------------+-----------+
| departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [11]:
df_pyspark.agg({'salary':'min'}).show()

+-----------+
|min(salary)|
+-----------+
|       2000|
+-----------+

In [16]:
df_pyspark.select(['salary', 'departments']).show(3)

+------+------------+
|salary| departments|
+------+------------+
| 10000|Data Science|
|  5000|         IOT|
|  4000|    Big Data|
+------+------------+
only showing top 3 rows