In [2]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\hp\anaconda3\lib\site-packages (3.5.3)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: py4j==0.10.9.7 in c:\users\hp\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark

In [4]:
import pandas as pd
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [4]:
from pyspark.sqp import SparkSession

ModuleNotFoundError: No module named 'pyspark.sqp'

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark=spark.read.csv('test1.csv')#read with c0, c1

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [11]:
df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [12]:
df_pyspark=spark.read.option('header', 'true').csv('test1.csv')

In [13]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [14]:
df_pyspark.head()

Row(Name='Krish', age='31', Experience='10', Salary='30000')

In [18]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)