In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder.appName('pyspark_course').getOrCreate()

In [26]:
df_pyspark = spark.read.csv('tips.csv', header=True, inferSchema=True)

In [27]:
df_pyspark.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [28]:
df_pyspark.createOrReplaceGlobalTempView("hotel_data")

In [31]:
sql1 = "select sex, count(*) as cnt from global_temp.hotel_data group by sex"
spark.sql(sql1).show()

+------+---+
|   sex|cnt|
+------+---+
|Female| 87|
|  Male|157|
+------+---+

In [32]:
df_pyspark.groupBy("sex").sum().show()

+------+------------------+-----------------+---------+
|   sex|   sum(total_bill)|         sum(tip)|sum(size)|
+------+------------------+-----------------+---------+
|Female|1570.9499999999998|           246.51|      214|
|  Male|3256.8200000000024|485.0700000000001|      413|
+------+------------------+-----------------+---------+

In [33]:
df_pyspark.groupBy("sex").sum("tip").show()

+------+-----------------+
|   sex|         sum(tip)|
+------+-----------------+
|Female|           246.51|
|  Male|485.0700000000001|
+------+-----------------+