In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [2]:
spark

In [3]:
 df_pyspark=spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)
    #only when we give inferschema the datatype in col is taken, otherwise it considers all col
    #datatype as string

In [4]:
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [5]:
 df_pyspark=spark.read.csv('test1.csv', header=True, inferSchema=True)

In [6]:
df_pyspark.printSchema

In [7]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [11]:
#TO SELECT MULTIPLE COLS
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [12]:
df_pyspark['Name']#only give col, not data

Column<'Name'>

In [13]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [15]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [17]:
#TO ADD NEW COLS
df_pyspark.withColumn('Experience after 2 yrs', df_pyspark['Experience']+2).show()

+---------+---+----------+------+----------------------+
|     Name|age|Experience|Salary|Experience after 2 yrs|
+---------+---+----------+------+----------------------+
|    Krish| 31|        10| 30000|                    12|
|Sudhanshu| 30|         8| 25000|                    10|
|    Sunny| 29|         4| 20000|                     6|
|     Paul| 24|         3| 20000|                     5|
|   Harsha| 21|         1| 15000|                     3|
|  Shubham| 23|         2| 18000|                     4|
+---------+---+----------+------+----------------------+

In [18]:
df_pyspark = df_pyspark.drop('Experience after 2 yrs')

In [19]:
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [20]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+