In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Df').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('test1.csv', header=True, inferSchema=True)
#spark.read.json()//to read json

In [4]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [5]:
df_pyspark.createOrReplaceTempView("empdata")

In [6]:
spark.sql("select * from empdata").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [9]:
query = "select Name, age from empdata where salary between 20000 and 30000"
spark.sql(query).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
+---------+---+

In [10]:
q1 = "select count(salary) as same, salary from empdata group by salary"
spark.sql(q1).show()

+----+------+
|same|salary|
+----+------+
|   1| 30000|
|   1| 25000|
|   2| 20000|
|   1| 15000|
|   1| 18000|
+----+------+